@use "../index.scss" as *;

.username-flicker-text {
    font-size: 5rem;
    font-weight: 400;
    line-height: normal;
    color: #00ff00;
    text-shadow:
        0 0 5px #00ff00,
        0 0 10px #00ff00,
        0 0 20px #00ff00;
    animation: flicker 2s infinite;
}
