@use "@/assets/styles/index.scss" as *;

$element: projects;

##{$element} {
    article {
        outline-color: var(--primary--200);
        gap: 0.5rem;

        @include flex($d: column, $j: space-between);
    }

    h3 {
        color: var(--secondary--100);
    }

    ul {
        flex-wrap: wrap;
        gap: 0.25rem;

        @include flex($j: flex-start, $a: center);
    }

    li {
        color: var(--secondary--200);
        background-color: var(--primary--300);

        @include flex;
    }

    a {
        @include flex($type: inline);
        @include equal($h-w: 5rem);
        color: var(--secondary--200);
    }
}
