@use "@/assets/styles/index.scss" as *;

.home {
    &__wrapper {
        height: calc(100svh - 5rem);

        @include r-bp($type: min, $bp: 64rem) {
            height: calc(100svh - 8.625rem);
        }

        > * {
            padding: 1.25rem;
        }
    }
}
