@use "@/assets/styles/index.scss" as *;

.navigation-bar {
    &-menu {
        height: calc(100svh - 8.125rem);
        backdrop-filter: blur(0.25rem);

        @include flex();

        > div {
            background-color: var(--pink--200);
        }
    }

    &-link {
        // @include debug(light);

        &:hover {
            span::before,
            span::after {
                @include font($f: "doto", $s: "2xl", $w: "semibold");
            }

            span::after {
                left: 95%;
            }

            span::before {
                right: 95%;
            }
        }

        span {
            position: relative;
            @include flex;

            &::after,
            &::before {
                position: absolute;

                @include font($f: "doto", $s: "3xl", $w: "semibold");
            }

            &::after {
                content: "]";
                left: 100%;
            }

            &::before {
                content: "[";
                right: 100%;
            }
        }
    }
}
