@use "@/assets/styles/index.scss" as *;

$element: navigation-bar;

##{$element} {
    $bg-color: color-mix(in srgb, var(--primary--200), transparent 50%);
    $blur: blur(0.25rem);

    &::before {
        content: "";

        backdrop-filter: $blur;
        background-color: $bg-color;
        inset: 0;
        position: absolute;
        transition-duration: var(--duration);
        transition-timing-function: ease-out;
    }

    &.#{$element}--close::before {
        height: 0;
    }

    &.#{$element}--open::before {
        height: 120svh;
    }

    &-menu {
        @include flex();
    }

    &-link {
        position: relative;

        &::after {
            content: "";

            border-block: 0.0625rem dotted var(--color-pink-200);
            bottom: 15%;
            left: 47.5%;
            opacity: 0;
            pointer-events: none;
            position: absolute;
            transform: translateX(-50%);
            transition-duration: var(--duration);
            transition-timing-function: ease-in-out;
            width: 0;
        }

        span {
            position: relative;
            pointer-events: none;
            @include flex;

            &::after,
            &::before {
                position: absolute;
                transition-duration: var(--duration);
                transition-timing-function: ease-in-out;

                @include font($f: "doto", $s: "3xl", $w: "semibold");
                color: white;
                opacity: 0.25;
            }

            &::after {
                content: "]";
                left: 100%;
            }

            &::before {
                content: "[";
                right: 100%;
            }
        }

        &[data-status="active"] {
            span {
                color: var(--color-pink-200);
            }

            &::after {
                bottom: 22.5%;
                width: 110%;
                opacity: 0.35;
                color: white;
            }
        }

        &:hover {

            span::before,
            span::after {
                @include font($f: "doto", $s: "2xl", $w: "semibold");
            }

            span::after {
                left: 95%;
            }

            span::before {
                right: 95%;
            }

            &::after {
                bottom: 22.5%;
                width: 110%;
                opacity: 0.5;
            }
        }
    }
}