@use "mixins" as *;

body {
    background-color: black;

    &::-webkit-scrollbar {
        display: none;
    }
}

i,
img {
    @include equal(100%);
    @include flex;
}

img {
    object-fit: cover;
}
